
body {
  background-color: #EBEEF0 !important;
}
div {
  font-family: 'Lato', sans-serif;
  word-wrap: break-word;
}

h4 {
  color: #333;
  text-transform: uppercase;
  font-size:14pt !important;
}

ul {
  font-family: 'Roboto', sans-serif;
  font-size:10pt;
}

p {
  font-size:10pt;
}

.stats {
  font-weight: bold;
  font-size: 20pt;
}

#plot {
  background-color: rgb(153,187,255,0.1) !important;
}
#sidebar {
  /*background-color: rgba(255,255,255,0.11);*/
  background-color: rgba(144,240,198,0.1) !important;
  padding: 25px;
}

#update {
  font-size:9pt;
  font-style:italic;
}

#links {
  font-size:10pt;
}
