
body {
  background-color: #333 !important;
  color: rgba(0,0,0,0.6) !important;
}
div {
  font-family: 'Lato', sans-serif;
  word-wrap: break-word;
}

h4 {
  color: #333;
  text-transform: uppercase;
  font-size:14pt !important;
}

ul {
  font-family: 'Roboto', sans-serif;
  font-size:10pt;
}

p {
  font-size:10pt;
}

a {
  color: rgba(0.08,0.17,0.26,1) !important;
  text-decoration: underline !important;
  font-weight: bolder !important;
}

.stats {
  font-weight: bold;
  font-size: 20pt;
  color: rgba(50,50,50,1) !important;
  background-color: rgba(144,240,198,0.5);
  padding: 5px;
}

.titlebar {
  background-color: rgba(255,255,255,0.5);
}

#head {
  background-color: rgba(144,240,198,0.6) !important;
}
#plot {
  background-color: rgb(255,255,255,0.35) !important;
}
#sidebar {
  background-color: rgba(255,255,255,0.5) !important;
  /*background-color: rgba(144,240,198,0.5) !important;*/
  padding: 25px;
}

#update {
  font-size:9pt;
  font-style:italic;
}

#links {
  font-size:10pt;
}
