
body {
  background-color: #ccc !important;
}
div {
  font-family: 'Lato', sans-serif;
}
.stats {
  font-weight: bold;
  font-size: 20pt;
}

h4 {
  color: #333;
  text-transform: uppercase;
  font-size:14pt !important;
}
#sidebar {
  border-left: solid 1px #666;
  background-color: rgba(255,255,255,0.1);
  padding: 25px;
}

ul {
  font-family: 'Roboto', sans-serif;
  font-size:10pt;
}

p {
  font-size:10pt;
}
